<div class="login-wrapper">
  <div class="card">
      <div class="card-body">


        <form >
          
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
        
            <div class="form-floating">
              <input type="email" class="form-control" name="email" id="floatingInput" placeholder="name@example.com" [(ngModel)]="data.email">
              <label for="floatingInput">User Id</label>
            </div>


            <div class="form-floating">
              <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password" [(ngModel)]="data.password">
              <label for="floatingPassword">Password</label>
            </div>


            <button class="w-100 btn btn-lg btn-primary" (click)="onSubmit()" type="submit">Sign in</button>
          
          </form>
      </div>
  </div>
</div>